@model HospitalManagement.Models.Billing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicationCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabTestCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabTestCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurgeryCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurgeryCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherCharges)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.BillingID">Edit</a> |
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
