@model IEnumerable<HospitalManagement.Models.Billing>

@{
    ViewData["Title"] = "Index";
}

<h1>Billings</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabTestCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurgeryCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherCharges)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTestCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurgeryCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherCharges)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
